.tabs {
    display: flex;
    justify-content: center;
    background-color: #1eb7ee;
    color: #fff;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 100%;
}

.tab {
    flex-grow: 2;
    height: 80px;
    text-align: center;
    line-height: 85px;
    border: none;
    text-align: right;
    cursor: pointer;
    &__departures {
        width: 50%;
        padding-right: 100px;
    }
    &__arrivals {
        width: 50%;
        text-align: left;
        padding-left: 60px;
    }
    &__btn {
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }
}

.selected {
    width: 60%;
    transition-duration: 0.5s;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #fff;
    &-btn {
        color: #1eb7ee;
    }
}

.fa-solid {
    font-size: 28px;
    padding: 20px;
    &__selected {
        color: #1eb7ee;
    }
}